# Archivos de caché de Python
# Ignorar base de datos SQLite
db.sqlite3

# Ignorar archivos compilados de Python
__pycache__/
*.pyc

# Ignorar migraciones si no deseas subirlas (solo si estás seguro)
# doit_app/migrations/
