{% extends "base.html" %}
 {% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/notificaciones.css' %}">
<link rel="stylesheet" href="{% static 'css/notificaciones_custom.css' %}">
{% endblock %}
{% block content %}
<div class="notificaciones-container mt-4">
    <h2 style="text-align:center;">Notificaciones</h2>
    <ul class="list-group notificaciones-grid">
        {% for noti in notificaciones %}
            <li class="list-group-item {% if not noti.leida %}list-group-item-info{% endif %}">
                <span>
                    {{ noti.mensaje }}
                    {% if noti.servicio %}
                        <span class="noti-servicio">{{ noti.servicio }}</span>
                    {% endif %}
                </span>
            </li>
        {% empty %}
            <li class="list-group-item">No tienes notificaciones.</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
