{% extends "base.html" %}
{% load static %}

{% block title %}DOIT | Registrarse{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/registrarse.css' %}">
{% endblock %}

{% block content %}
    <div class="register-form-container">

        <h2 class="text-center mb-4">Nuevo Registro</h2>

        <!-- Mostrar mensajes -->
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}


        <form method="post">
            {% csrf_token %} 
            {# Campo Tipo de Usuario (siempre visible y primero) #}
            {# Ya tiene el id='id_tipo_usuario' que añadimos en forms.py #}
            {{ form.tipo_usuario.as_p }}
            {{ form.as_p }} 
            <button type="submit">Registrarse</button>
        </form>
    </div>
{% endblock content %}